<title>Fight</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for player in current_player %}
<div class="weapon">
    <a href="{% url 'items:shop' user.pk %}"><h5>Shop</h5></a>
    <br><br>
    <h5>{{ player.name }}</h5>
    <h5 id="player-lvl"> Level: {{ player.level }}</h5>
    <h5 id="player-exp">Experience: {{ player.experience }}</h5>
    <h5 id="player-health">Health: {{ player.current_health }}</h5>
    <h5 id="player-mana">Mana: {{ player.current_mana }}</h5>
    <br>
    <form method="POST">
        {% csrf_token %}
        <button id="weapon-attack" name="weapon_id" value="{{ player.weapon_equipped.id }}">
            Attack with {{ player.weapon_equipped.name }}</button>
    </form>
</div>
{% endfor %}

<br>
<button id="available-spells">Attack with available spells</button>
<br>

<div class="use-spells">
    <div class="content">
        <span class="close-spells">&times;</span>
        <form method="POST">
             {% for spell in spells_available %}
                {% csrf_token %}
                <h4>{{ spell.name }}</h4>
                <h5>Min dmg: {{ spell.min_spell_dmg }}</h5>
                <h5>Max dmg: {{ spell.max_spell_dmg }}</h5>
                <h5>Mana cost: {{ spell.mana_cost }}</h5>
                <h5>Dmg type: {{ spell.dmg_type }}</h5>
                <button id="spell-attack" name="spell_id" value="{{ spell.id }}">Use {{ spell.name }}</button>
                <h5>--------------------</h5>
            {% endfor %}
        </form>
    </div>
</div>

<br>
<br>
<button id="available-potions">Use potion</button>
<br>
<br>

<div class="use-potions">
    <div class="content">
        <span class="close-potions">&times;</span>
        <form method="POST">
            {% for potion in potions_available %}
                {% csrf_token %}
                <h4>{{ potion.potion.name }}</h4>
                <h4>{{ potion.amount }} left</h4>
            {% endfor %}
        </form>
    </div>
</div>

{% for monster in current_monster %}
    <h5 id="monster-type">{{ monster.name }}</h5>
    <h5 id="monster-health">Health: {{ monster.health }}</h5>
    <h5>Immune: {{ monster.immune }}</h5>
{% endfor %}
<script src="{% static 'js/play/play.js' %}"></script>
{% endblock %}
