


{% block content %}

<h4>Weapons</h4>
<br>
{% for weapon in weapons_to_buy %}
    <h4>{{ weapon.name }}</h4>
    <h5>Minimum damage - {{ weapon.min_melee_dmg }}</h5>
    <h5>Maximum damage - {{ weapon.max_melee_dmg }}</h5>
    <h5>Level required - {{ weapon.level_required }}</h5>
    <h5>Price - {{ weapon.price }} gold</h5>

    <a href="{% url 'items:buy-items' 'weapon' weapon.pk %}"><h4>Buy</h4></a>
    <br>
{% endfor %}

<br>
<h4>Armors</h4>
<br>
{% for armor in armors_to_buy %}
    <h4>{{ armor.name }}</h4>
    <h5>Defence - {{ armor.defence }}</h5>
    <h5>Additional health - {{ armor.health }}</h5>
    <h5>Level required - {{ armor.level_required }}</h5>
    <h5>Price - {{ armor.price }}</h5>

    <a href="{% url 'items:buy-items' 'armor' armor.pk %}"><h4>Buy</h4></a>
    <br>
{% endfor %}

<br>
<h4>Spells</h4>
<br>
{% for spell in spells_to_buy %}
    <h4>{{ spell.name }}</h4>
    <h5>Minimum damage - {{ spell.min_spell_dmg }}</h5>
    <h5>Maximum damage - {{ spell.max_spell_dmg }}</h5>
    <h5>Level required - {{ spell.level_required }}</h5>
    <h5>Price - {{ spell.price }}</h5>

    <a href="{% url 'items:buy-items' 'spell' spell.pk %}"><h4>Buy</h4></a>
    <br>
{% endfor %}

{% for potion in potions_to_buy %}
    <h5>{{ potion.name }}</h5>

    <a href="{% url 'items:buy-potion' potion.pk %}"><h4>Buy</h4></a>
    <br>
{% endfor %}

<br><br>
<a href="{% url 'game:home' %}">Home</a>

{% endblock %}