<title>Shop</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for char in character %}
    <h4>Name: {{ char.name }}</h4>
    <h4 id="gold">Gold: {{ char.gold }}</h4>
{% endfor %}

<br>
<button id="weapons">Weapons</button>
<br>

<div class="weapon-items">
    <div class="content">
        <span class="close-weapon">&times;</span>
        <form method="POST">
            {% csrf_token %}
            {% for weapon in weapons_to_buy %}
                <h4>{{ weapon.name }}</h4>
                <h5>Minimum damage - {{ weapon.min_melee_dmg }}</h5>
                <h5>Maximum damage - {{ weapon.max_melee_dmg }}</h5>
                <h5>Level required - {{ weapon.level_required }}</h5>
                <h5>Price - {{ weapon.price }} gold</h5>
                <br>
                <button id="buy_weapon" name="weapon" value="{{ weapon.pk }}">Buy</button>
                <br>
                <br>
            {% endfor %}
        </form>
    </div>
</div>

<br>
<br>
<button id="armors">Armors</button>
<br>

<div class="armor-items">
    <div class="content">
        <span class="close-armor">&times;</span>
        <form method="POST">
            {% csrf_token %}
            {% for armor in armors_to_buy %}
                <h4>{{ armor.name }}</h4>
                <h5>Defence - {{ armor.defence }}</h5>
                <h5>Additional health - {{ armor.health }}</h5>
                <h5>Level required - {{ armor.level_required }}</h5>
                <h5>Price - {{ armor.price }}</h5>
                <br>
                <button id="buy_armor" name="armor" value="{{ armor.pk }}">Buy</button>
                <br>
                <br>
            {% endfor %}
        </form>
    </div>
</div>

<br>
<br>
<button id="spells">Spells</button>
<br>

<div class="spell-items">
    <div class="content">
        <span class="close-spell">&times;</span>
        <form method="POST">
            {% csrf_token %}
            {% for spell in spells_to_buy %}
                <h4>{{ spell.name }}</h4>
                <h5>Minimum damage - {{ spell.min_spell_dmg }}</h5>
                <h5>Maximum damage - {{ spell.max_spell_dmg }}</h5>
                <h5>Level required - {{ spell.level_required }}</h5>
                <h5>Price - {{ spell.price }}</h5>
                <br>
                <button id="buy_spell" name="spell" value="{{ spell.pk }}">Buy</button>
                <br>
                <br>
            {% endfor %}
        </form>
    </div>
</div>

<br>
<br>
<button id="potions">Potions</button>
<br>

<div class="potion-items">
    <div class="content">
        <span class="close-potion">&times;</span>
        <form method="POST">
            {% csrf_token %}
            {% for potion in potions_to_buy %}
                <h5>{{ potion.name }}</h5>
                <br>
                <button id="buy_potion" name="potion" value="{{ potion.pk }}">Buy</button>
                <br>
                <br>
            {% endfor %}
        </form>
    </div>
</div>
<script src="{% static 'js/shop/shop.js' %}"></script>

{% endblock %}
