{% extends 'base.html' %}


{% block content %}

<h4>Weapon</h4>
{% for weapon in weapon_equipped %}
    <a href="{% url 'items:weapon-details' weapon.pk %}"><h4>{{ weapon }}</h4></a>
{% endfor %}
<br>
<h4>Armor</h4>
{% for armor in armor_equipped %}
    <a href="{% url 'items:armor-details' armor.pk %}"><h4>{{ armor }}</h4></a>
{% endfor %}
<br>
{% for spell in object_list %}
    <a href="{% url 'items:spells-available' spell.pk %}"><h4>Spells</h4></a>
{% endfor %}
<br>
{% for potion in object_list %}
    <a href="{% url 'items:potions-available' potion.pk %}"><h4>Potions</h4></a>
{% endfor %}

{% endblock %}
