

{% block content %}

<h2>Hero details</h2>

{% for character in character_details %}
    <h3>Name</h3>
    <h5>{{ character.name }}</h5>
    <h3>Health</h3>
    <h5>{{ character.max_health }}</h5>
    <h3>Mana</h3>
    <h5>{{ character.max_mana }}</h5>
    <a href="{% url 'characters:spend-points' character.pk %}"><h3>Attribute points to spend</h3>
        <h5>{{ character.attribute_points }}</h5></a>
    <h3>Strength</h3>
    <h5>{{ character.strength }}</h5>
    <h3>Intelligence</h3>
    <h5>{{ character.intelligence }}</h5>
    <h3>Exp</h3>
    <h5>{{ character.experience }}</h5>
    <h3>Level</h3>
    <h5>{{ character.level }}</h5>
    <h3>Gold</h3>
    <h5>{{ character.gold }}</h5>
    <h3>Weapon</h3>
    <h5>{{ character.weapon_equipped.name }}</h5>
    <h3>Armor</h3>
    <h5>{{ character.armor_equipped.name }}</h5>
{% endfor %}
    <h3>Spells</h3>
{% for spell in character_spells %}
    <h5>{{ spell.name }}</h5>
{% endfor %}
    <h3>Potions</h3>
{% for potion in character_potions %}
    <h5>{{ potion.potion.name }}</h5>
    <h5>Amount: {{ potion.amount}}</h5>
{% endfor %}
<br><br>
<a href="{% url 'game:home' %}">Home</a>

{% endblock %}